@model house.ViewModels.Signin.NewViewModel
@{
    ViewBag.Title = "Sign in";
}

<h3>Signin.New</h3>
<form method="post" asp-controller="Signin" asp-action="Create" asp-route-returnurl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="SigninForm.Email">Email:</label>
        <input asp-for="SigninForm.Email" class="form-control" maxlength="100" />
        <span asp-validation-for="SigninForm.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SigninForm.Password">Password:</label>
        <input asp-for="SigninForm.Password" type="password" class="form-control" maxlength="250" />
        <span asp-validation-for="SigninForm.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </div>
</form>
