@model house.ViewModels.House.EditViewModel
@{
    ViewBag.Title = "Edit House";
}
<h3>House.Edit</h3>

<form method="post" asp-controller="House" asp-action="Update">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="House.Id" />
    <div class="form-group">
        <label asp-for="House.Zip">Zip Code:</label>
        <input asp-for="House.Zip" class="form-control" maxlength="5" />
        <span asp-validation-for="House.Zip" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="House.Address">Street Address:</label>
        <input asp-for="House.Address" class="form-control" maxlength="200" />
        <span asp-validation-for="House.Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </div>
</form>
